@import "../../helpers.scss";

.container {
  cursor: pointer;
  min-height: 365px;
  min-width: 415px;
  margin: 10px;

  @media (max-width: $breakpoint-md) {
    min-height: 304px;
    min-width: 345px;
    margin: 5px;
  }

  & .title-box, & .content-box {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 350px;
    width: 400px;
    border-radius: 10px;
    padding: 15px;
    z-index: 1;
    transition: .5s;

    @media (max-width: $breakpoint-md) {
      height: 289px;
      width: 330px;
    }

    &.active {
      z-index: 2;
      top: 0;
      left: 0;
    }
  }

  & .title-box {
    background-color: $yellow;
  }
  
  & .content-box {
    background-color: $red;
  }
}