.panel-odd {
    width: 100%;
    background: #379683;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 5px 5px 5px #0004;
}

.panel-even {
    width: 100%;
    background-color: #5CDB95;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 5px 5px 5px #0004;
}
