@import "../../helpers.scss";

.header {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-weight: bold;
  font-size: 2em;
  color: $egg-shell;

  &__text {
    background-color: #fff2;
    width: fit-content;
    padding: 0 20px;
    border-radius: 5px;
  }
}