@import "../../helpers.scss";

.topic-view {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .view {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
 
    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
    }
  }
}