@import "../../helpers.scss";

.topic-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $turquoise;
  display: block;
  border: none;
  padding: 0 25px;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10%);
  transition: all .2s ease;
  z-index: 1;

  &.open {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
  }

  &__content {
    margin: 0 auto;
    overflow: auto;
    width: calc($breakpoint-xxl - 10px);

    @media (max-width: $breakpoint-xxl) {
      width: calc($breakpoint-xl - 10px);
    }

    @media (max-width: $breakpoint-xl) {
      width: 100%;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    &-close-button {
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
  
      & > svg {
        width: 25px;
        height: 25px;
      }
    }

    &-title {
      flex: 1;
    }
  }
}