@import "./helpers.scss";

* {
  box-sizing: border-box;
  position: relative;
  font-family: 'Source Sans 3', sans-serif;
}

body {
  margin: 0;
}

code {
  font-family: Consolas,"courier new";
  background-color: #fff4;
  padding: 0 2px;
  color: $grey-blue;
}

.app {
  margin: 0 auto;
  overflow: auto;
  width: calc($breakpoint-xxl - 80px);

  @media (max-width: $breakpoint-xxl) {
    width: calc($breakpoint-xl - 80px);
  }

  @media (max-width: $breakpoint-xl) {
    width: 100%;
  }

  &__wrapper {
    overflow: hidden;
  }
}