body {
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    margin: 0;
    background: white;
    overflow-x: hidden;
}

.app {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.mouse-down-enter {
    transform: translate(-100%)
}
.mouse-down-enter-active {
    transform: translate(0);
    transition: transform 1s cubic-bezier(.31, .72, .22, .88);
}
.mouse-down-enter-done {
    transform: translate(0);
}
