// colors
$pink: #d88c9a;
$light-yellow: #f2d0a9;
$egg-shell: #f1e3d3;
$lavender: #8e7dbe;
$turquoise: #99c1b9;
$grey-blue: #004256;

// breakpoints
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;