.background-divs {
    top: 0;
    left: 0;
    z-index: 4;
}

.background-div-top {
    position: absolute;
    z-index: 3;
    background: #7bb4fc;
    width: 100%;
    height: 100%;
    transform: translate(-90%) skew(-15deg);
}
.background-div-top-enter {
    transform: translate(-90%) skew(-15deg);
}
.background-div-top-enter-active {
    transform: translate(-95%) skew(-15deg);
    transition: transform 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.background-div-top-enter-done {
    transform: translate(-95%) skew(-15deg);
}
.background-div-top-exit {
    transform: translate(-95%) skew(-15deg);
}
.background-div-top-exit-active {
    transform: translate(-90%) skew(-15deg);
    transition: transform 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.background-div-mid {
    position: absolute;
    z-index: 2;
    background: #68a9fc;
    width: 100%;
    height: 100%;
    transform: translate(-75%) skew(-15deg);
}
.background-div-mid-enter {
    transform: translate(-75%) skew(-15deg);
}
.background-div-mid-enter-active {
    transform: translate(-91%) skew(-15deg);
    transition: transform 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.background-div-mid-enter-done {
    transform: translate(-91%) skew(-15deg);
}
.background-div-mid-exit {
    transform: translate(-91%) skew(-15deg);
}
.background-div-mid-exit-active {
    transform: translate(-75%) skew(-15deg);
    transition: transform 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.background-div-bot {
    position: absolute;
    z-index: 1;
    background: #559efc;
    width: 100%;
    height: 100%;
    transform: translate(-60%) skew(-15deg);
}
.background-div-bot-enter {
    transform: translate(-60%) skew(-15deg);
}
.background-div-bot-enter-active {
    transform: translate(-88%) skew(-15deg);
    transition: transform 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.background-div-bot-enter-done {
    transform: translate(-88%) skew(-15deg);
}
.background-div-bot-exit {
    transform: translate(-88%) skew(-15deg);
}
.background-div-bot-exit-active {
    transform: translate(-60%) skew(-15deg);
    transition: transform 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
