.footer {
    position: absolute;
    vertical-align: bottom;
    width: 100%;
    height: 300px;
    background: #303C6C;
}

.footer-table {
    color: #bebebe;
    margin: 90px auto;
}

.footer-table td {
    padding: 5px 100px 5px 100px;
    color: #B4DFE5;
}

.footer-table td:hover {
    color: #D2FDFF;
    transition: all 200ms;
}
